<h1>Historial</h1>

<ng-container *ngFor="let item of historial">
  <div
    *ngIf="item.herramienta; else sinHerramienta"
    [routerLink]="['/detalle-herramienta', item.herramienta.id]"
    class="historial-item"
  >
    <strong>{{ item.herramienta.nombre }}</strong>
    <span>{{ item.fecha | date:'M/d/yy, h:mm a' }}</span>
  </div>

  <ng-template #sinHerramienta>
    <div class="historial-item">
      <strong>Sin nombre</strong>
      <span>{{ item.fecha | date:'M/d/yy, h:mm a' }}</span>
    </div>
  </ng-template>
</ng-container>
