<!-- MATERIALES ARRIBA -->
<p><strong>Materiales necesarios para esterilización:</strong></p>
<ul *ngIf="herramienta.materiales?.length; else sinMateriales">
  <li *ngFor="let mat of herramienta.materiales">{{ mat }}</li>
</ul>
<ng-template #sinMateriales>
  <p>No especificado</p>
</ng-template>

<!-- PROCESO -->
<p><strong>Proceso:</strong></p>
<ul *ngIf="herramienta.proceso?.length; else sinProceso">
  <li *ngFor="let paso of herramienta.proceso">{{ paso }}</li>
</ul>
<ng-template #sinProceso>
  <p>No especificado</p>
</ng-template>

<!-- BOTÓN (opcional mejorado) -->
<a routerLink="proceso-desinfeccion" class="btn-proceso">
  Acceder a Proceso de Desinfección
</a>


