/* RUTA: src/app/app.component.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;700;800&display=swap');

/* Este estilo se aplicará a TODA la aplicación */
:host {
  font-family: 'Lexend', sans-serif;
  background-color: #0D1117; /* Fondo oscuro y profesional */
  color: #FFFFFF;
  display: block;
  min-height: 100vh;
}